/* import google font 'Inter'  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reset all default  styles  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
}

/* common styles  */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f4f6f9;
  font-family: "Inter", sans-serif;
}

.container-width {
  width: 85%;
  margin: 0 auto;
}

/*  group  styles*/
/* information container  */
.profile-picture-container,
.employee-personal-info-container,
.employee-contact-info-container,
.employee-posting-container,
.employee-contract-layout,
.employee-compensation-layout,
.employee-transfer-details-container,
.employee-promotion-details-container,
.employee-increment-details-container,
.employee-disciplinary-action-container {
  padding: 16px;
  margin-top: 24px;
  background-color: #fff;
  border-radius: 4px;
}

.profile-picture-container {
  margin-top: 0;
}

.employee-contract-layout,
.employee-compensation-layout,
.employee-transfer-details-container,
.employee-promotion-details-container,
.employee-increment-details-container,
.employee-disciplinary-action-container {
  padding: 24px;
  border-radius: 14px;
}

/* group label and row styles  */
.container-label {
  color: #64748baf;
  font-size: 1.05rem;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
}

.sidebar-card {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 16px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.info-row:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.ir-label {
  color: #9ca3af;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
}

.ir-value {
  color: #131313;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}

/* group main layout heading styles  */
.layout-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  padding: 12px 18px;
  padding-left: 0;
  border-bottom: 1px solid rgba(11, 30, 61, 0.1);
  margin-bottom: 24px;
}

.lh-label-icon {
  padding: 6px 8px;
  background-color: #0b1e3d;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.lh-label-icon svg {
  width: 24px;
  height: 24px;
  color: #e8c97a;
}

.lh-label {
  color: #1a1a2e;
  font-size: 1.05rem;
  font-weight: 700;
  text-transform: capitalize;
}

/* employee profile layout section's styles  */
#employee-profile-layout {
  margin: 56px 0;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 48px;
}

/* profile sidebar section's styles  */
#profile-aside-sidebar {
  width: 100%;
  height: auto;
}

/* profile picture */
#profile-picture {
  width: 280px;
  height: 280px;
  margin: 0 auto 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f0ea;
  border-radius: 2px;
  position: relative;
  padding: 16px;
}

#profile-picture::after {
  content: "";
  position: absolute;

  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 200px;
  height: 200px;
  background-color: #e1dcd7;
  border-radius: 50%;
  z-index: 1;
}

#profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#employee-name {
  color: #1e293b;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 1.3px;
}
.employee-desk {
  color: #64748b;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.6;
}

#employee-id {
  color: #2563eb;
  font-size: 0.925rem;
  font-weight: 600;
  line-height: 1.3;

  border: 1px solid #2563eb;
  padding: 5px 12px;
  border-radius: 24px;
}

/* contact info  */
.contact-info-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 16px;
}

.contact-info-row:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.ci-icon svg {
  width: 20px;
  height: 20px;
  font-size: bold;
  color: #64748bde;
}

.ci-label {
  color: #64748bde;
  font-size: 0.825rem;
  font-weight: 600;
}

.ci-value {
  color: #131313;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 4px;
}

/* profile main content section's styles  */
#profile-main {
  width: 100%;
  height: auto;
}

/* topbar  */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background-color: #f4f0ea;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.breadcrumb {
  color: #64748b;
  font-size: 0.8rem;
  font-weight: 500;

  display: flex;
  align-items: center;
  gap: 4px;
}

.bread-sep {
  opacity: 0.5;
}

.print-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  color: #e8c97a;
  background-color: #0b1e3d;
  padding: 8px 16px;
  border: 1px solid #0b1e3d;
  border-radius: 8px;

  font-size: 0.85rem;
  font-weight: 500;
  text-transform: uppercase;

  transition: all 0.35s ease;
}

.print-button:hover {
  background-color: #16315c;
  border-color: #16315c;
  color: #f5d98f;
}

.print-button .pb-icon {
  display: flex;
  align-items: center;
}

.print-button .pb-icon svg {
  width: 16px;
  height: 16px;
}

/* employment information container styles  */
.employment-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 24px;
}

.employment-info-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.employee-confirm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.eic-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.item-label {
  color: #9ca3afd5;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.item-value {
  color: #131313;
  font-size: 0.925rem;
  font-weight: 400;
}

/* employee transfer log  */
.employee-transfer-details-container .layout-heading {
  margin-bottom: 0;
  padding-bottom: 22px;
}

.transfer-log-heading {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  gap: 16px;

  padding: 16px;
  background-color: #f4f0ea;
  border-bottom: 1px solid rgba(11, 30, 61, 0.1);
}

.log-head {
  color: #8a90a8;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.log-row {
  display: grid;
  grid-template-columns: 100px repeat(4, 1fr);
  gap: 16px;

  padding: 18px 12px;
  transition: all 0.35s ease;
}

.log-row:not(:last-child) {
  border-bottom: 1px solid rgba(11, 30, 61, 0.1);
}

.log-row:hover {
  background-color: #f4f0ea;
}

.log-col {
  color: #1a1a2e;
  font-size: 0.825rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  .container-width {
    width: calc(100% - 48px);
  }

  /* group styles  */

  .layout-heading {
    padding: 8px 0px 16px;
  }

  .lh-label-icon {
    padding: 6px;
  }

  .lh-label-icon svg {
    width: 18px;
    height: 18px;
  }

  .lh-label {
    font-size: 0.95rem;
  }

  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 1fr;
  }

  /* topbar  */
  .topbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
  }

  .breadcrumb {
    color: #64748b;
    font-size: 0.775rem;
  }

  .print-button {
    display: none;
  }

  /* employment information container styles  */
  .employment-info-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .employee-confirm {
    gap: 12px;
  }

  .item-label {
    font-size: 0.75rem;
  }

  .item-value {
    font-size: 0.875rem;
  }
}

@media (max-width: 399.98px) {
  /* profile picture */
  #profile-picture {
    width: 180px;
    height: 180px;
    padding: 12px;
  }

  #profile-picture::after {
    width: 150px;
    height: 150px;
  }

  #employee-name {
    font-size: 1rem;
  }
  .employee-desk {
    font-size: 0.9rem;
  }

  #employee-id {
    font-size: 0.9rem;
  }

  /* information container  */
  .employee-personal-info-container,
  .employee-contact-info-container,
  .employee-posting-container {
    margin-top: 16px;
  }

  .container-label {
    font-size: 0.95rem;
  }

  .ci-icon svg {
    width: 16px;
    height: 16px;
  }

  .ir-label,
  .ir-value,
  .ci-label,
  .ci-value {
    font-size: 0.75rem;
  }

  .breadcrumb {
    color: #64748b;
    font-size: 0.65rem;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 1fr;
  }

  /* topbar  */
  .topbar {
    padding: 16px;
  }

  .print-button {
    padding: 10px 14px;
  }

  /* employment information container styles  */
  .employment-info-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 280px 1fr;
    gap: 32px;
  }

  /* profile picture */
  #profile-picture {
    width: 180px;
    height: 180px;
    padding: 12px;
  }

  #profile-picture::after {
    width: 150px;
    height: 150px;
  }

  /* employment information container styles  */
  .employment-info-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}

/* styles for only print */
@media print {
  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 1fr;
  }
}
