/* import google font 'Inter'  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* reset all default  styles  */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
}

/* common styles  */
body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f4f6f9;
  font-family: "Inter", sans-serif;
}

.container-width {
  width: 85%;
  margin: 0 auto;
}

/* employee profile layout section's styles  */
#employee-profile-layout {
  margin: 56px 0;
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 48px;
}

/* profile sidebar section's styles  */
#profile-aside-sidebar {
  width: 100%;
  height: auto;
}

/* container group  */
.profile-picture-container,
.employee-personal-info-container,
.employee-contact-info-container,
.employee-posting-container {
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
}

/* profile picture */
#profile-picture {
  width: 280px;
  height: 280px;
  margin: 0 auto 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f0ea;
  border-radius: 2px;
  position: relative;
  padding: 16px;
}

#profile-picture::after {
  content: "";
  position: absolute;

  top: 8px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  width: 200px;
  height: 200px;
  background-color: #e1dcd7;
  border-radius: 50%;
  z-index: 1;
}

#profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 2;
}

.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

#employee-name {
  color: #1e293b;
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.2rem;
  text-transform: capitalize;
  letter-spacing: 1.3px;
}
.employee-desk {
  color: #64748b;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.6;
}

#employee-id {
  color: #2563eb;
  font-size: 0.925rem;
  font-weight: 600;
  line-height: 1.3;

  border: 1px solid #2563eb;
  padding: 5px 12px;
  border-radius: 24px;
}

/* information container  */
.employee-personal-info-container,
.employee-contact-info-container,
.employee-posting-container {
  margin-top: 24px;
}

.container-label {
  color: #64748baf;
  font-size: 1.05rem;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
}

.sidebar-card {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 16px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.info-row:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.ir-label {
  color: #9ca3af;
  font-size: 0.9rem;
  font-weight: 500;
  font-style: italic;
}

.ir-value {
  color: #131313;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.contact-info-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 16px;
}

.contact-info-row:not(:last-child) {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.ci-icon svg {
  width: 20px;
  height: 20px;
  font-size: bold;
  color: #64748bde;
}

.ci-label {
  color: #64748bde;
  font-size: 0.825rem;
  font-weight: 600;
}

.ci-value {
  color: #131313;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 4px;
}

/* profile main content section's styles  */
#profile-main {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding: 16px;
  border: 1px solid green;
}

/* responsive styles:: small devices  */
@media (max-width: 767.98px) {
  .container-width {
    width: calc(100% - 48px);
  }

  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 399.98px) {
  /* profile picture */
  #profile-picture {
    width: 180px;
    height: 180px;
    padding: 12px;
  }

  #profile-picture::after {
    width: 150px;
    height: 150px;
  }

  #employee-name {
    font-size: 1rem;
  }
  .employee-desk {
    font-size: 0.9rem;
  }

  #employee-id {
    font-size: 0.9rem;
  }

  /* information container  */
  .employee-personal-info-container,
  .employee-contact-info-container,
  .employee-posting-container {
    margin-top: 16px;
  }

  .container-label {
    font-size: 0.95rem;
  }

  .ci-icon svg {
    width: 16px;
    height: 16px;
  }

  .ir-label,
  .ir-value,
  .ci-label,
  .ci-value {
    font-size: 0.75rem;
  }
}

/* responsive styles:: medium devices  */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 1fr;
  }
}

/* responsive styles:: large devices  */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 280px 1fr;
    gap: 32px;
  }

  /* profile picture */
  #profile-picture {
    width: 180px;
    height: 180px;
    padding: 12px;
  }

  #profile-picture::after {
    width: 150px;
    height: 150px;
  }
}

/* responsive styles:: extra large devices  */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* responsive styles:: extra extra large devices  */
@media (min-width: 1400px) {
}

/* styles for only print */
@media print {
  /* employee profile layout section's styles  */
  #employee-profile-layout {
    grid-template-columns: 1fr;
  }
}
